
.chapter {
  position: relative;
  margin-top: 20vh;
  opacity: 1;
  z-index: 20;
}

.chapter__container {
  position: relative;
  // top: -200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 5%;
  // max-height: 80vh;
}



.chapter__left {
  position: relative;
  flex: 7 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;

  
  z-index: 100;
}

.chapter__svgcontainer {
  
}

.chapter__right {
  position: relative;
  flex: 4 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 80%;
  z-index: 110;
}

.chapter__spacer {
  flex: 1 1 0;
}

.chapter__svg {
width: 100%;
height: 100%;
position: relative;

top: -20%;
// left: 42px;
}

.chapter__svg path {
  stroke-dashoffset: 100;
  fill:none;
  stroke:black;
  stroke-width:1px;
}


@media only screen and (max-width: 600px) {
  .chapter__container {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 100vh 5%;
    max-height: 80vh;
  }

  .chapter__right {
    flex: 4 1 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    max-width: 100%;
  }
}

.chapter__play {
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
  transition: color 0.25s ease;
  display: flex;
  flex-flow: row;
  svg {
    padding-left: 10px;
 
  }
  svg path {
    stroke: $dark;
    transition: stroke 0.25s ease;
  }

  svg polygon {
    stroke: $dark;
    transition: stroke 0.25s ease;
  }

  &:hover {
    color: $accent;

    transition: color 0.25s ease;
    svg path {
      stroke: $accent;
      transition: stroke 0.25s ease;
    }
  
    svg polygon {
      stroke: $accent;
      transition: stroke 0.25s ease;
    }
  }
}