
.chapter {
  position: relative;

  top: 200vh;
  // position: absolute;
  opacity: 1;
  z-index: 20;
}

.chapter__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 80%;
  margin: 100vh 10%;
  max-height: 80vh;
}

.chapter__left {
  position: relative;
  flex: 4 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}

.chapter__right {
  flex: 4 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  max-width: 80%;
}

.chapter__spacer {
  flex: 1 1 0;
}

.chapter__svg {
width: 100%;
height: 100%;
}

.chapter__svg path {
  stroke-dashoffset: 100;
  fill:none;
  stroke:black;
  stroke-width:1px;
}

.chapter__svgcontainer {
  &#imageOne {
    background: url("../assets/carwash.png") no-repeat;
    background-size: contain;
    background-size: 139%;
    background-position: -5.2vw 0.1vw; 
  }
  &#imageTwo {
    background: url("../assets/carwash.png") no-repeat;
    background-size: contain;
    background-size: 139%;
    background-position: -5.2vw 0.1vw;
  }
  &#imageThree {
    background: url("../assets/carwash.png") no-repeat;
    background-size: contain;
    background-size: 139%;
    background-position: -5.2vw 0.1vw;
  }
    &#imageFour {
      background: url("../assets/carwash.png") no-repeat;
      background-size: contain;
      background-size: 139%;
      background-position: -5.2vw 0.1vw;
  }
}

@media only screen and (max-width: 600px) {
  .chapter__container {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 100vh 5%;
    max-height: 80vh;
  }

  .chapter__right {
    flex: 4 1 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    max-width: 100%;
  }
}
