.intro__container {
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;

}

.intro__subtitle {
  padding-bottom: 4em;
}
.intro__image {
  width: 60%;
  height: auto;
}

.intro__quote {
  padding-bottom: 4em;
}

.intro__player {
  padding: .8em;
  background-color: $dark;
  color: $light;
  display: flex;
  flex-flow: row;
  width: 10em;
  justify-content: space-around;
  border: none;
  cursor: pointer;

  

}


svg.player__button {
  height: 1.2em;  
}

svg.player__button * {
  fill:none;
  stroke:$light;
  stroke-linecap:round;
  stroke-linejoin:round;
}