.road__container {
  position: absolute;
  top: 50vh;
  z-index: 1000;
  width: 100%;
  // margin-left: 20%;
  // height: 100vh;
  svg {
    height: 100%;
    width: 100%;
  }
}

// .road__svg path {
//     fill: none;
//     stroke: #000;
//     stroke-width: .3px;
// }




@media only screen and (max-width: 600px) {
  .road__container {
      width: 100%;
      
  }
}


#roadTest1 {
  stroke: green;
  fill: none;
  stroke-dasharray: 5,5; 
  stroke-width: 5;

}

#roadTest2 {
  stroke: red;
  fill: none;
  stroke-dasharray: 5,5; 
  stroke-width: 5;

}