.road__container {
  position: absolute;
  // margin-left: 20%;
  z-index: 2000;
}
.road__path {
  
  height: 100%;
  width: 100%;
      fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.road__one {
  width: 80vw;
  // left: 21%;
  // top: -11%;
}
// .road__svg path {
//     fill: none;
//     stroke: #000;
//     stroke-width: .3px;
// }




@media only screen and (max-width: 600px) {
  .road__container {
      width: 100%;
      
  }
}

