.road__container {
  position: absolute;
  top: 50vh;
  z-index: 1;
  width: 50%;
  svg {
    height: 100%;
    width: 100%;
  }
}

.road__svg path {
    fill: none;
    stroke: #000;
    stroke-width: .3px;


}
