// font-family: proxima-nova, sans-serif;

// thin
// font-weight: 100;

// light
// font-weight: 300;

// regular
// font-weight: 400;

// bold
// font-weight: 700;

// font-family: essonnes-headline, serif;
// font-weight: 700;
// font-style: normal;

// font-family: essonnes-text, serif;
// font-weight: 400;
// font-style: normal;
// -
// font-style: italic;

p {
  font-family: proxima-nova, sans-serif;
}

h2.chapter__title {
  font-family: essonnes-headline, serif;
  font-weight: 700;
  font-style: normal;
  font-size:calc(12px + 1.5vw);

}

.chapter__play {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size:calc(10px + .8vw);
}

.chapter__subtitle {
  color: $accent;
  font-family: essonnes-headline, serif;
  font-weight: 700;
  font-style: normal;
  font-size:calc(12px + 1vw);
}


p.chapter__descr {
  font-family: essonnes-text, serif;
  line-height: 1.5em;
  font-weight: 100;
  font-style: normal;
  font-size:calc(10px + .2vw);
}

p.intro__subtitle {
  font-family: essonnes-headline, serif;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

q.intro__quote {
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size:calc(10px + .8vw);
}


.intro__player {
  text-transform: uppercase;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
}

.nav__left h2 {
  font-family: essonnes-headline, serif;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

.nav__left p {
  line-height: 1.5em;
  font-weight: 100;
  font-style: normal;
  font-size:calc(10px + .2vw);
}

.nav__left strong {
  font-family: essonnes-headline, serif;
  font-weight: 700;
}

// Utils

.utils__bold {
  font-weight: 400;
}

.utils__uppercase {
  text-transform: uppercase;
}

.chapter__pre {
  font-family: essonnes-headline, serif;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}