p {
  font-family: $font1;
}

h2.chapter__title {
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(12px + 1.5vw);

}

.chapter__play {
  font-family: $font1;
  font-weight: 100;
  font-size:calc(10px + .8vw);
}

.chapter__subtitle {
  color: $accent;
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(12px + 1vw);
}

p.chapter__descr {
  font-family: $font3;
  line-height: 1.5em;
  font-weight: 100;
  font-style: normal;
  font-size:calc(10px + .2vw);
}

p.intro__subtitle {
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

q.intro__quote {
  font-family: $font1;
  font-weight: 100;
  font-size:calc(10px + .8vw);
}


.intro__player {
  text-transform: uppercase;
  font-family: $font1;
  font-weight: 100;
}

.nav__left h2 {
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

.nav__left p {
  line-height: 1.5em;
  font-weight: 100;
  font-style: normal;
  font-size:calc(10px + .2vw);
}

.nav__left strong {
  font-family: $font2;
  font-weight: 700;
}

// Utils

.utils__bold {
  font-weight: 400;
}

.utils__uppercase {
  text-transform: uppercase;
}

.intro__post {
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

.chapter__pre {
  font-family: $font2;
  font-weight: 700;
  font-style: normal;
  font-size:calc(10px + 1.2vw);
}

.audio__text {
  font-family: $font1;
  font-weight: 100;
  font-size:calc(10px + .4vw);
}