.video__button {
  position: fixed;
  top: 5%;

  left: 2%;
  
  cursor: pointer;
  z-index: 2000;
}



.video__overlay {
  position: fixed;
  background: $light;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s;
  overflow: hidden;

  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
    z-index: 900;
  }
}

#videoToggle {
  
  .active {
    display: block; 
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
