// Main tags

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
}


// Fonts & links

a {
    color: inherit;
}



@import "_type";
@import "_nav";
@import "_particles";
@import "_chapter";
@import "_road";
