// Main tags


$light: #F4F4ED;
$dark: #2D2D2D;


html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: $light;
    color: #2D2D2D;
}


// Fonts & links

a {
    color: inherit;
}



@import "_type";
@import "_nav";
@import "_particles";
@import "_chapter";
@import "_road";
@import "_video";



// Testing

#data {
  position: fixed;
  top: 0;
  background: red;
}


